.button {
  background-color: rgb(59, 80, 173);
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 0.5rem;
  cursor: pointer;
}
